.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-md {
  font-size: 0.8rem !important;
}

.text-small {
  font-size: 0.7rem;
}

.editor-counter {
  position: relative;
  &::after {
    position: absolute;
    right: 0;
    top: 100%;
    display: block;
    height: 1rem;
    color: var(--v-secondary-darken1);
    font-size: 0.7rem;
    text-align: right;
    content: attr(data-counter);
  }
}

.whitespace-pre-line {
  white-space: pre-line;
}
